{% extends "list.html" %}

 {% block columnas %}
    <tr>
    <th scope="col" style="width: 3%;">Id</th>
    <th scope="col" style="width: 12%;">Nombre</th>
    <th scope="col" style="width: 5%;">Estado</th>
    <th scope="col" style="width: 13%;">Fecha Creación</th>
    <th scope="col" style="width: 9%;">Usuario Creación</th>
    <!--<th scope="col" style="width: 8%;">Última Modificación</th>-->
    <th scope="col" style="width: 5%;">Opciones</th>
    </tr>
{% endblock  %}


{% block filas %}
    {% for d in object_list %}
        <tr>
            <td>{{d.id_departamento}}</td>
            <td>{{d.nombre}}</td>
            <td>{% if d.estado == '1' %}
                    Activo
                {% else %}
                    Inactivo
                {% endif %}</td>
            <td>{{d.fch_creacion}}</td>
            <td>{{d.usuario_creacion}}</td>
            <!--<td>{{d.fch_modificacion}}</td>-->
            <td>
                <button type="button" title="Editar" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                <button type="button" title="Borrar" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>    
            </td>
        </tr>
    {% endfor %}
{% endblock  %}

